<div class="center">
  <div class="form-conteiner">

      <div class="form-logo">
          <img src="assets/img/nombre-logo.png" alt="qiut">
      </div>

      <div class="title">
          {{message}}
      </div>
  
      <div [formGroup]="forma">
  
          <div class="form-inputs">
                <!-- Nombre -->
                <div class="input-box">
                  <span class="input-titles">Nombre</span>
                  <input  type="text"
                    placeholder="nombre..."
                    formControlName="name"
                    required>
                  <span [ngClass]="isNombreInvalid ? 'text-invalid':''" class="text-error">El nombre es olbligatorio</span>
                </div>

                <!-- Precio -->
                <div class="input-box">
                    <span class="input-titles">Precio</span>
                    <input  type="text" 
                        class="number"
                        placeholder="precio..." 
                        formControlName="price"
                        required>
                    <span   [ngClass]="isPreciovalid ? 'text-invalid':''" 
                    class="text-error">El precio es olbligatoria</span>
                </div>

                <!-- Descripcion -->
                <div class="input-box input-w10">
                    <span class="input-titles">Descripción</span>
                    <textarea placeholder="descripción..."
                    formControlName="description"
                    class="textarea"></textarea>
                </div>

                <!-- Multi select -->
                <app-multi-select [categories]="forma.controls.categorys.getRawValue()"></app-multi-select>
                
                <!-- Type -->
                <div class="section-category">
                    <span class="input-titles">Tipo</span>
                    <div class="category-flex">
                
                        <ul>
                
                            <li>
                                <label>   
                                    <input type="radio" formControlName="type" value="detalles">
                                    <div class="category-degree">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/detalles.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Detalles</h3>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" formControlName="type" value="tasas">
                                    <div class="category-degree">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/tasas.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Tasas</h3>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" formControlName="type" value="camisas">
                                    <div class="category-degree">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/camisas.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Camisas</h3>
                                </label>
                            </li>
                        
                        </ul>
                    </div>
                </div>


                <!-- Galeria -->
                <div>
                    <div class="galery">
                        <div class="galery-img" *ngFor="let img of images; let i = index">
                            <i (click)="deleteImages(i)" class="fa-solid fa-xmark"></i>
                            <img [src]="img.src">
                        </div>
                    </div>
                    <button type="button" class="btn btn-main" (click)="inputFile.click()">Subir imagenes</button>
                </div>
                <input #inputFile type="file" name="imgs" id="imgs" multiple hidden (change)="tryFile($event)">
          </div>
  
          <div class="btns">
                <button *ngIf="productEdit"
                        type="button"
                        (click)="loadDataProduct()"
                        class="btn btn-reset">Descartar cambios</button>

                <button *ngIf="!productEdit" (click)="send()" [disabled]="forma.invalid">
                    <span *ngIf="!loading">Crear</span>
                    <span><i *ngIf="loading" class="fa-solid fa-circle-notch fa-spin"></i></span>
                </button>
                <button *ngIf="productEdit" (click)="send()">
                    <span *ngIf="!loading">Actualizar</span>
                    <span><i *ngIf="loading" class="fa-solid fa-circle-notch fa-spin"></i></span>
                </button>
          </div>
  
      </div>
  
  </div>
</div>