<div class="center">
  <div class="form-conteiner">

      <div class="form-logo">
          <img src="assets/img/nombre-logo.png" alt="qiut">
      </div>

      <div class="title">
          Crear producto
      </div>
  
      <div [formGroup]="forma">
  
          <div class="form-inputs">
                <!-- Nombre -->
                <div class="input-box">
                  <span class="input-titles">Nombre</span>
                  <input  type="text"
                    placeholder="nombre..."
                    formControlName="name"
                    required>
                  <span [ngClass]="isNombreInvalid ? 'text-invalid':''" class="text-error">El nombre es olbligatorio</span>
                </div>

                <!-- Precio -->
                <div class="input-box">
                    <span class="input-titles">Precio</span>
                    <input  type="text" 
                        class="number"
                        placeholder="precio..." 
                        formControlName="price"
                        required>
                    <span   [ngClass]="isPreciovalid ? 'text-invalid':''" 
                    class="text-error">El precio es olbligatoria</span>
                </div>

                <!-- Descripcion -->
                <div class="input-box input-w10">
                    <span class="input-titles">Descripción</span>
                    <textarea placeholder="descripción..."
                    formControlName="description"
                    class="textarea"></textarea>
                </div>

                <!-- Multi select -->
                <app-multi-select [categories]="forma.controls.categorys.getRawValue()"></app-multi-select>
                <div class="types">
                    <label>
                        <input type="radio" formControlName="type" value="detalles">
                        <img class="category-img" src="assets/img/detalles.jpg" alt="">
                    </label>
                    <label>
                        <input type="radio" formControlName="type" value="tasas">
                        <img class="category-img" src="assets/img/tasas.jpg" alt="">
                    </label>
                    <label>
                        <input type="radio" formControlName="type" value="camisas">
                        <img class="category-img" src="assets/img/camisas.jpg" alt="">
                    </label>
                </div>

                <!-- Type -->
                <!-- <div class="section-category">
                    <span class="input-titles">Tipo</span>
                    <div class="category-flex">
                
                        <ul>
                
                            <li>
                                <a (click)="cambiarType('detalles')">   
                                    <div class="category-degree" [ngClass]="{'select': type === 'detalles'}">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/detalles.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Detalles</h3>
                                </a>
                            </li>
                            <li>
                                <a (click)="cambiarType('tasas')">
                                    <div class="category-degree" [ngClass]="{'select': type === 'tasas'}">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/tasas.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Tasas</h3>
                                </a>
                            </li>
                            <li>
                                <a (click)="cambiarType('camisas')">
                                    <div class="category-degree" [ngClass]="{'select': type === 'camisas'}">
                                        <div class="category-border">
                                            <img class="category-img" src="assets/img/camisas.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3 class="category-title">Camisas</h3>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </div> -->


                <!-- Galeria -->
                <div>
                    <div class="galery">
                        <img *ngFor="let img of images" [src]="img.src">
                    </div>
                    <button type="button" class="btn btn-main" (click)="inputFile.click()">Subir imagenes</button>
                </div>
                <input #inputFile type="file" name="imgs" id="imgs" multiple hidden (change)="tryFile($event)">
          </div>
  
          <div class="btns">
                <!-- <button (click)="send()" [disabled]="forma.invalid">
                    <span *ngIf="!loading">Crear</span>
                    <span><i *ngIf="loading" class="fa-solid fa-circle-notch fa-spin"></i></span>
                </button> -->
                <button (click)="send()">
                    <span *ngIf="!loading">Crear</span>
                    <span><i *ngIf="loading" class="fa-solid fa-circle-notch fa-spin"></i></span>
                </button>
          </div>
  
      </div>
  
  </div>
</div>