<div class="seccion">
    <div class="aside">
        <div class="aside-conte">
            <div class="aisde-logo"><img src="assets/img/abejita.png" alt="abejita"></div>
            <div [ngClass]="{'active': open}" class="aside-titulo" (click)="open = !open">
                <strong>FILTRAR</strong>
                <span><i class="fa-solid fa-caret-right"></i></span>
            </div>
            <div [ngClass]="{'active': open}" class="aside-list">
                <ul class="aside-ul">
                    <li>
                        <input #text type="text" (keyup)="buscarFiltro(text.value)" placeholder="Buscar...">
                        <span><i class="fa-solid fa-search"></i></span>
                    </li>
                    <li *ngFor="let category of categoriesResult">
                        <div (click)="filterCategory(category.name)" >{{category.name}}</div>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>