<!-- Mio modal -->
<!-- <button #buttonShow (click)="modalShow = true" hidden>Activar</button>

<div 
    [ngClass]="{'active': modalShow}" 
    class="modal-container">

    <div class="modal" style="display: grid;">

        <div class="modal-icon">
            <span class="{{icon.color}}"><i  class="fa-solid {{icon.class}}"></i></span>
        </div>
        <h2 class="modal-title">{{data.title}}</h2>
        <p class="modal-p">
            {{data.content}}
        </p>
        <div class="modal-actions">
            <button (click)="modalShow = false" class="btn btn-cerrar">CERRAR</button>
            <button *ngIf="confirm" class="btn btn-confi">aceptar</button>
        </div>

    </div>
</div> -->

<!-- Button trigger modal #buttonShow  -->
<button #buttonShow
        type="button" 
        class="btn btn-primary" 
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal" 
        hidden>
    
    Launch demo modal
</button>

<!-- Modal -->
<div #modal
     class="modal fade" 
     id="exampleModal"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" [ngClass]="typeToString">
        <div class="modal-content">
        <div class="modal-header">
           
            <i class="icon"  [ngClass]="icon"></i>
            
            <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
           
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
            {{content}}
        </div>
        <div class="modal-footer">
            <ng-container *ngIf="isConfirm; else noConfirm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClickClose(false)">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onClickClose(true)">Si</button>
            </ng-container>
            <ng-template #noConfirm>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onClickClose(true)">Cerrar</button>
            </ng-template>
        </div>
        </div>
    </div>
</div>