@media (min-width: 768px){

    .pie{
        .row{
            --bs-gutter-x: 1.5rem;
            .row-mein{
                flex: 0 0 auto;
                width: 50%;
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: var(--bs-gutter-y);
            }
        }
    }

}