
<div class="section-category">
    <div class="category-flex">

        <ul>

            <li>
                <a (click)="filter('datalles')">   
                    <div class="category-degree">
                        <div class="category-border">
                            <img class="category-img" src="assets/img/edificio.jpg" alt="">
                        </div>
                    </div>
                    <h3 class="category-title">Detalles</h3>
                </a>
            </li>
            <li>
                <a (click)="filter('tasas')">
                    <div class="category-degree">
                        <div class="category-border">
                            <img class="category-img" src="assets/img/muck.jpg" alt="">
                        </div>
                    </div>
                    <h3 class="category-title">Tasas</h3>
                </a>
            </li>
            <li>
                <a (click)="filter('camisas')">
                    <div class="category-degree">
                        <div class="category-border">
                            <img class="category-img" src="assets/img/edificio.jpg" alt="">
                        </div>
                    </div>
                    <h3 class="category-title">Camisas</h3>
                </a>
            </li>
        
        </ul>

    </div>
</div>

<app-product-list></app-product-list>