<section>
    <div class="acerca-de">
            <div class="info">
                <div class="icono"><img src="assets/iconos/acerca-de.png" alt="acerca-de"></div>
                <div class="contenido">
                    <h1>Acerca de</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim voluptas vitae totam similique eveniet, aperiam, natus ab quisquam dolorem earum facilis dolor necessitatibus atque iusto saepe modi architecto praesentium.</p>
                </div>
            </div>
            <div class="info">
                <div class="icono"><img src="assets/iconos/ubicacion.png" alt="ubicacion"></div>
                <div class="contenido">
                    <h1>Acerca de</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim voluptas vitae totam similique eveniet, aperiam, natus ab quisquam dolorem earum facilis dolor necessitatibus atque iusto saepe modi architecto praesentium.</p>
                </div>
            </div>
            <div class="info">
                <div class="icono"><img src="assets/iconos/contacto.png" alt="contacto"></div>
                <div class="contenido">
                    <h1>Acerca de</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim voluptas vitae totam similique eveniet, aperiam, natus ab quisquam dolorem earum facilis dolor necessitatibus atque iusto saepe modi architecto praesentium.</p>
                </div>
            </div>
            <div class="info">
                <div class="icono"><img src="assets/iconos/Redes-sociales.png" alt="casa"></div>
                <div class="contenido">
                    <h1>Acerca de</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim voluptas vitae totam similique eveniet, aperiam, natus ab quisquam dolorem earum facilis dolor necessitatibus atque iusto saepe modi architecto praesentium.</p>
                </div>
            </div>
    </div>
</section>

<section>
    <div class="redes">
        <div class="sociales">
            <h3>Redes sociales</h3>
            <div class="iconos">
                <div><i class="fa-brands fa-whatsapp"></i></div>
                <div><i class="fa-brands fa-tiktok"></i></div>
                <div><i class="fa-brands fa-facebook-f"></i></div>
            </div>
        </div>
    </div>
</section>

<button (click)="activar('show')">show</button>
<button (click)="activar('info')">info</button>
<button (click)="activar('alert')">alert</button>
<button (click)="activar('error')">Error</button>
<br>
<div>
    Confirmación
</div>
<button (click)="activar('show', true)">show</button>
<button (click)="activar('info', true)">info</button>
<button (click)="activar('alert', true)">alert</button>
<button (click)="activar('error', true)">Error</button>
<br>
<div>
    Confirmación disable close
</div>
<button (click)="activar('show', true, true)">show</button>
<button (click)="activar('info', true, true)">info</button>
<button (click)="activar('alert', true, true)">alert</button>
<button (click)="activar('error', true, true)">Error</button>
<br>