@media (min-width: 768px){
    .acerca-de{
        grid-template-columns: repeat(2,1fr);

        .info {
            width: 100%;
            padding: 1.5rem;

            .contenido{
                p{
                    font-size: 1rem;
                }
            }
        }
    }

    .redes{
        .sociales{
            .iconos{
                a{
                    div{
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .acerca-de{
        .info {
            width: 420px;
            margin: 20px;
        }
    }
}