<section>
    <div class="acerca-de">
            <div class="info">
                <div class="icono"><img src="assets/iconos/acerca-de.png" alt="acerca-de"></div>
                <div class="contenido">
                    <h1>Acerca de</h1>
                    <p>Emprendimiento dedicado al arte de la sublimación para todo tipo de detalles como; camisas, Tazas.</p>
                </div>
            </div>
            <div class="info">
                <div class="icono"><img src="assets/iconos/ubicacion.png" alt="ubicacion"></div>
                <div class="contenido">
                    <h1>Ubicacion</h1>
                    <p>
                        carrera 24 #25-53, San José del Guaviare, Colombia.</p>
                </div>
            </div>
            <div class="info">
                <div class="icono"><img src="assets/iconos/contacto.png" alt="contacto"></div>
                <div class="contenido">
                    <h1>Contacto</h1>
                    <p>Correo electronico: carvajalcardenasangelika@gmail.com. Telefono: +57 315 8713410</p>
                </div>
            </div>
    </div>
</section>

<section>
    <div class="redes">
        <div class="sociales">
            <h3>Redes sociales</h3>
            <div class="iconos">
                <a href="https://api.whatsapp.com/send?phone=%2B573158713410&fbclid=IwAR1OBalgHSvQBKmmWFT1omLpkhmvLXzInkkXjY5nb24aSXlz8eQM-IGWorQ">
                    <div><i class="fa-brands fa-whatsapp"></i></div>
                </a>
                <a href="">
                    <div><i class="fa-brands fa-tiktok"></i></div>
                </a>
                <a href="https://web.facebook.com/profile.php?id=100070738461459">
                    <div><i class="fa-brands fa-facebook-f"></i></div>
                </a>
            </div>
        </div>
    </div>
</section>