<app-list-categories (type)="filtrarPorType($event)"></app-list-categories>

<div class="products-list">
    <div class="list-cabecera">
        <h3>PRODUCTOS</h3>
        <a *ngIf="auth.isAuth()" routerLink="agregar" class="list-nuevo">
            <span>Nuevo</span>
            <i class="fa-solid fa-dolly"></i>
        </a>
    </div>

    <div class="seccion">
        <app-list-filter (category)="filtrarForCategory($event)"></app-list-filter>
        <div class="conte">
            <div class="conte-conte">
                <div class="conte-titulo">
                    <h2>{{cate}}</h2>

                    <!-- Boton de refrezcar -->
                    <div class="btn-icon">
                        <div class="bg-icon" (click)="loadData()"><i class="fa-solid fa-search"></i></div>
                    </div>

                    <!-- Iinput buscar -->
                    <div class="conte-search">
                        <input type="text" #inputSearchProduct (keyup)="buscarProduct(inputSearchProduct.value)" placeholder="buscar..">
                        <span><i class="fa-solid fa-search"></i></span>
                    </div>
                </div>

                <!-- Lista de productos -->
                <ng-container *ngIf="!loading; else divLoading">
                    <div class="conten-ul">
                        <div class="main-card" *ngFor="let product of this.listRults">
                            <img [src]="product.imgDefault" [alt]="product.name">
                            <div class="conte-content">
                                <div class="row">
                                    <div class="details">
                                        <span>{{product.name}}</span>
                                        <p>{{product.description}}</p>
                                    </div>
                                    <div class="prince">{{product.price | currency:'COP':'symbol-narrow':'.0-0'}}</div>
                                </div>
                                <div class="buttons">
                                    <button [routerLink]="[product.id]" >Ver</button>
                                    <a href="https://api.whatsapp.com/send/?phone=57{{infoEmpres[0].telefono}}&text={{product.name}}&type=phone_number&app_absent=0" target="_blank">Preguntar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
            </div>
        </div>
    </div>

</div>

<!-- API el loading  -->
<ng-template #divLoading>
    <h2>Cargando</h2>
</ng-template>