@media (min-width: 768px){

    ul{

        & li a{
            width: 150px;
            min-width: 150px;

            .category-degree{
                width: 120px;
                min-width: 120px;
                height: 120px;
                padding: 3px;
            }
        }
    }

}

@media (min-width: 992px) {

    ul{

        & li a{
            width: 170px;
            min-width: 170px;
        }

    }

}