/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* root */
:root {
    --input-border-color: #9b59b5;
    --color-red-danger: #ff9494;
    --color-grenn-azul: #009688;
    --color-qiut-rosa: #f9a284;
}

/* ------------------------------------------------------------------------------- */
// navbar
.nav{

    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)) ,url(assets/img/portada.jpg) ;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    .nav-conten{

        width: 100%;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    
        .menu{
            position: fixed;
            top: 0px;
            right: -100%;
            max-width: 400px;
            width: 100%;
            padding: 80px 50px;
            height: 100vh;
            z-index: 10;
            background: #b19f8893;
            transition: .3s linear;
    
            &.active{
                right: 0;
            }

            & ul{
                display: flex;
            list-style: none;
            flex-direction: column;
            align-items: flex-start;
    
                & li{
                    margin: 1rem 0px;

                    &:hover .link{
                        background: #ececec;
                    }
    
                    .link{
                        font-size: 1rem;
                        margin-left: 0;
                        font-weight: 500;
                        text-decoration: none;
                        color: #000;
                        background: #fff;
                        padding: 10px 15px;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: all ease 0.2s;

                        &.active{
                            background: #ececec;
                        }
                    }
                }
    
            }
    
        }
    
        .togler{
            display: block;
            position: absolute;
            right: 15px;
            top: 25px;
            z-index: 999;

            .menu-toggler{
                background: #fff;
                width: 58px;
                padding: 10px 15px;
                border-radius: 15px;
                font-size: 2rem;
                border: none;
                cursor: pointer;
                position: relative;
                outline: none;
                z-index: 999;
                display: initial;
                box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
            }
        }

        .logo {
            width: 150px;
            height: 150px;
            position: absolute;
            top: -25px;
            left: -25px;
            border-radius: 100%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 0;
            box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
            cursor: pointer;

            .img-logo {
                width: 85px;
                height: 85px;
            }

            .logo-nom {
                height: 70px;
                width: 70px;
            }
        }

    }
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
// Container

.container {
    --gutter-x: 0rem;
    --gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

/* ------------------------------------------------------------------------------- */
// products

.section-category{
    text-align: center;

    .category-flex{
        max-width: 100%;
        display: inline-block;
        margin: 0 auto;

        & ul{
            display: flex;
            align-items: flex-start;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow: auto;
            padding-left: 0;

            & li a{
                color: #374957;
                width: 92px;
                min-width: 92px;
                display: block;
                font-weight: 600;
                cursor: pointer;

                &:hover .category-degree{
                    background: #E0FFE5
                }

                &:hover .category-border::before{
                    opacity: 0;
                }
                
                &:hover .category-degree .category-border .category-img{
                    top: -3px;
                    left: -3px;
                    width: calc(100% + 6px);
                    height: calc(100% + 6px);
                }

                .category-title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-size: 13px;
                    line-height: 21px;
                    margin: 10px 0 0;
                    text-align: center;
                    transition: all ease-out 0.2s;
                }

                .category-degree{
                    position: relative;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    padding: 2px;
                    margin: 0 auto;
                    background: #bcff9666;

                    .category-border{
                        position: relative;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        overflow: hidden;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        &::before{
                            content: '';
                            z-index: 1;
                            background: rgba(0,0,0,0.15);
                            transition: 0.2s all ease-out;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        & .category-img{
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.2s ease-out;
                        }
                    }
                }
            }

        }
    }
}

/* ------------------------------------------------------------------------------- */
// Acerca de
.acerca-de{
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    color: #333;

    .info {
        width: 100%;
        margin: 10px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .icono{

            img{
                width: 80px;
            }
        }

        .contenido{
            margin-left: 10px;
            text-align: center;
        }
    }
}

/* ------------------------------------------------------------------------------- */
// Redes
.redes{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;

    .sociales {
        h3{
            font-size: 34px;
            margin-bottom: 15px;
        }

        .iconos {
            display: flex;
            justify-content: center;
            
            div{
                cursor: pointer;
                width: 100px;
                height: 60px;
                background: #212123;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                margin: 0px 5px;
                border-radius: 5px;
                color: #fff;

                &:first-child{
                    background: #075e54;
                }

                &:last-child{
                    background: #1877f2;
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------- */
// Products
.products-list{
    .list-cabecera{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 20px;

        .list-nuevo{
            background: var(--color-grenn-azul);
            padding: 10px 20px;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .seccion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .aside{
            width: 100%;
            padding: 20px 10px 10px;
            color: #9da1a4;

            .aside-conte{
                background: #FFFBA3;
                border-radius: 8px;
                box-shadow: 0 5px 10px rgb(0 0 0 / 10%);

                .aisde-logo{
                    position: relative;
                    height: 50px;

                    img{
                        position: absolute;
                        left: 95px;
                        top: -40px;
                        transform: rotate(-10deg);
                        width: 90px;
                        height: 90px;
                    }
                }

                .aside-titulo{
                    padding: 15px 25px;
                    font-size: 15px;
                    color:#3b4248;
                    font-weight: 700;
                    background: #fff;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span{
                        font-size: 24px;
                        transform: rotate(90deg);
                        transition: transform ease .3s;
                    }

                    &.active span{
                        transform: rotate(270deg);
                    }
                }

                .aside-list{
                    position: relative;
                    height: 100%;
                    max-width: 100%;
                    outline: none;
                    direction: ltr;
                    display: none;

                    .aside-ul{
                        list-style: none;
                        max-height: 225px;
                        overflow-y: auto;
                        padding-left: 0;

                        li{
                            position: relative;
                            background: #fff;
                            color: #323e35;
                            cursor: pointer;
                            transition: color linear .3s;

                            input{
                                display: block;
                                padding: 10px 45px 10px 15px;
                                width: 100%;
                                border: none;
                                border-bottom: 1px solid #b3b3b3;
                                outline: none;
                            }

                            div{
                                display: block;
                                padding: 10px 57px 10px 15px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            span{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                right: 16px;
                                display: inline-block;
                                font-size: 20px;
                                height: 27px;
                            }

                            &:hover{
                                color: var(--color-grenn-azul);
                            }
                        }
                    }

                    &.active{
                        display: block;
                    }
                }
            }
        }

        .conte{
            padding: 0;

            .conte-conte{
                background: #E0FFE5;
                padding: 15px 10px;

                .conte-titulo{
                    color: #3b4248;
                    padding: 15px 20px;
                    display: flex;
                    flex-direction: column;

                    .conte-search{
                        position: relative;

                        input{
                            width: 100%;
                            height: 40px;
                            border: 1px solid #9da1a4;
                            border-radius: 15px;
                            padding: 0px 55px 0 15px;
                            outline: none;
                            font-size: 22px;
                            box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
                        }

                        span{
                            background-color: #fff59d;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            right: -7px;
                            bottom: 0;
                            top: -6px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            cursor: pointer;
                            box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
                        }
                    }
                }

                .conten-ul{
                    max-width: 100%;
                    display: grid;
                    grid-gap: 10px 10px;
                    grid-template-columns: repeat(1,1fr);

                    .main-card{
                        border-radius: 3px;
                        background: #ffffff;
                        position: relative;

                        &:hover{
                            -webkit-box-shadow: 0 7px 11px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1);
                            box-shadow:  0 7px 11px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1);

                            .buttons-tools{
                                visibility: visible;
                                opacity: .8;
                                top: 0;
                            }
                        }

                        img{
                            width: 100%;
                            height: 350px;
                            object-fit: cover;
                            border-radius: 3px;
                            transition: transform 0.3s ease;
                        }

                        .buttons-tools{
                            display: flex;
                            justify-content: space-around;
                            background: linear-gradient(to top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
                            padding: 15px 0;
                            opacity: .8;
                            position: absolute;
                            top: -20px;
                            left: 0;
                            border-radius: 5px;
                            width: 100%;
                            visibility: hidden;
                            transition: all ease .3s;

                            button{
                                padding: 8px 18px;
                                text-transform: uppercase;
                                border: 1px solid transparent;
                                cursor: pointer;
                                font-size: 15px;
                                font-weight: 500;
                                border-radius: 3px;
                                color: #f1f1f1;

                                &:first-child{
                                    background: var(--color-grenn-azul);
                                    &:hover{
                                        border: 1px solid var(--color-grenn-azul);
                                        background: transparent;
                                    }
                                }

                                &:last-child{
                                    background: var(--color-red-danger);
                                    &:hover{
                                        border: 1px solid var(--color-red-danger);
                                        background: transparent;
                                    }
                                }
                            }
                        }

                        .conte-content{
                            width: 100%;
                            background: #fff;
                            padding: 10px 20px 22px 20px;
                            transition: bottom 0.3s ease;
                            border-top: 1px solid #00000020;

                            .row, .buttons{
                                display: flex;
                                justify-content: space-between;
                            }

                            .row{
                                .details{
                                    span{
                                        font-size: 22px;
                                        font-weight: 500;
                                    }

                                    p{
                                        color: #333;
                                        font-size: 17px;
                                        font-weight: 400;
                                        width: 150px;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }

                                .prince{
                                    color: #57a764;
                                    font-size: 25px;
                                    font-weight: 600;
                                }
                            }

                            .buttons{
                                margin-top: 15px;

                                button{
                                    width: 100%;
                                    outline: none;
                                    padding: 10px 0;
                                    font-size: 17px;
                                    font-weight: 500;
                                    border-radius: 3px;
                                    border: 2px solid #57a764;
                                    cursor: pointer;
                                    text-transform: uppercase;
                                    transition: all 0.3s ease;

                                    &:first-child{
                                        color: #57a764;
                                        background: #fff;
                                        margin-right: 10px;

                                        &:hover{
                                            color: #FFF;
                                            background: #57a764;
                                        }
                                    }
                                    &:last-child{
                                        color: #FFF;
                                        background: #57a764;
                                        margin-left: 10px;
                                        &:last-child:hover{
                                            border-color: #60c070;
                                            background: #60c070;
                                        }
                                    }
                                }
                            }     
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------- */
// Access
.form-logo{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & img{
        width: 100px;
    }
}

/* ------------------------------------------------------------------------------- */
// Form
.form-conteiner{
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

    .title{
        font-size: 25px;
        font-weight: 500;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: var(--input-border-color);
        }
    }

    .form-inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;

        .input-box{
            margin-bottom: 15px;
            width: 100%;

            .input-titles{
                display: block;
                font-weight: 500;
                margin-bottom: 5px;
            }

            & input{
                height: 45px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding-left: 15px;
                font-size: 16px;
                border-bottom-width: 2px;
                z-index: 20;
                transition: border-color ease 0.3s;

                &:focus, &:valid{
                    border-color: var(--input-border-color);
                }
            }

            .text-error{
                font-weight: 500;
                color: var(--color-red-danger);
                opacity: 0;
                position: absolute;
                left: 0;
                z-index: -10;
                transition: opacity linear .3s;

                &.text-invalid{
                    z-index: 1;
                    opacity: 1;
                    position: relative;
                }
            }
        }
    }

    .details{
        .checkbox{
            & .input-check:checked ~ .label-check::before{
                color: var(--input-border-color);
            }
    
            & .label-check{
                font-size: 16px;
                color: #999999;
                line-height: 1.2;
                display: block;
                position: relative;
                padding-left: 26px;
                cursor: pointer;
    
                &::before{
                    content: "\f00c";
                    font-family: FontAwesome;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 3px;
                    background: #fff;
                    border: 2px solid var(--input-border-color);
                    left: 0;
                    color: #fff;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .ques{

            .a-text{
                font-size: 16px;
                color: var(--input-border-color);
                line-height: 1.4;
                text-decoration: none;
            }
        }
    }

    .btns{

        & button{
            display: block;
            width: 100%;
            margin: 40px auto;
            padding: 0 20px;
            background-color: var(--input-border-color);
            color: #fff;
            font-size: 30px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            transition: .3s linear;

            &:disabled{
                background-color: transparent;
                color: #ddd;
                border: 2px solid;
            }
        }

        .btn{
            padding: 10px 20px;
            background: var(--color-qiut-rosa);
            text-decoration: none;
            color: #fff;

            & span{
                margin-left: 5px;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

/* ------------------------------------------------------------------------------- */
// select
.select-container {
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 15px auto 20px;

    .select-btn {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        padding: 0px 16px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);

        .btn-text {
            font-size: 17px;
            font-weight: 400;
            color: #333;
        }

        &.open{
            .arrow-dwn {
                transform: rotate(-180deg);
            }

            & ~ .list-items{
                display: block;
            }
        }

        .arrow-dwn {
            display: flex;
            height: 21px;
            width: 21px;
            color: #fff;
            font-size: 14px;
            border-radius: 50%;
            background: var(--input-border-color);
            align-items: center;
            justify-content: center;
            transition: 0.3s;
        }
    }

    .list-items {
        position: relative;
        display: none;
        margin-top: 15px;
        border-radius: 8px;
        padding: 16px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 7px;
        }
        &::-webkit-scrollbar-track{
            background: #f1f1f1;
            border-radius: 25px;
        }
        &::-webkit-scrollbar-thumb{
            background: #ccc;
            border-radius: 25px;
        }

        .item {
            display: flex;
            align-items: center;
            list-style: none;
            height: 50px;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 8px;

            .search{
                position: relative;

                i{
                    position: absolute;
                    left: 15px;
                    line-height: 53px;
                    color: #999;
                    font-size: 20px;
                }

                input{
                    height: 53px;
                    width: 100%;
                    font-size: 17px;
                    outline: none;
                    border-radius: 5px;
                    padding: 0 15px 0 43px;
                    border: 1px solid #b3b3b3;
                    border-bottom-width: 2px;
                    transition: border-color ease 0.3s;

                    &:focus{
                        border-color: var(--input-border-color);
                    }
                }
            }

            &.checked .checkbox{
                background-color: #4070f4;
                border-color: #4070f4;

                .check-icon {
                    transform: scale(1);
                }
            }

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                border-radius: 4px;
                margin-right: 12px;
                border: 1.5px solid #c0c0c0;
                transition: all 0.3s ease-in-out;

                .check-icon {
                    color: #fff;
                    font-size: 11px;
                    transform: scale(0);
                    transition: all 0.3s ease-in-out;
                }
            }

            .item-text {
                font-size: 16px;
                font-weight: 400;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: capitalize;
                color: #333;
            }
        }
    }
}

/* ------------------------------------------------------------------------------- */
// Modal
.modal-container{
    overflow-y: auto;
    grid-template-columns: auto minmax(0,1fr) auto;
    background: rgba(0,0,0,.4);
    display: grid;
    position: fixed;
    z-index: -1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    grid-template-areas:
        "top-start top top-end"
        "center-start center center-end"
        "bottom-start bottom-center bottom-end";
    grid-template-rows: minmax(min-content,auto) minmax(min-content,auto) minmax(min-content,auto);
    height: 100%;
    padding: .625em;
    overflow-x: hidden;
    transition: background-color .1s;
    opacity: 0;
    transition: opacity .15s linear;
    
    &.active{
        opacity: 1;
        z-index: 1000;
    }

    .modal{
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;

        position: relative;
        box-sizing: border-box;
        grid-template-columns: minmax(0,100%);
        width: 32em;
        max-width: 100%;
        padding: 0 0 1.25em;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #545454;
        font-size: 1rem;

        .modal-icon{
            align-items: center;
            position: relative;
            box-sizing: content-box;
            justify-content: center;
            width: 5em;
            height: 5em;
            margin: 1.5em auto .6em;
            border: .25em solid transparent;
            border-radius: 50%;
            line-height: 5em;
            cursor: default;
            user-select: none;
            text-align: center;

            & span{
                font-size: 4.5rem;
                color: #4fc3f7;

                &.color-danger{
                    font-size: 4.5rem;
                    color: var(--color-red-danger);
                }
                &.color-info{
                    font-size: 4.5rem;
                    color: #9ccc65;
                }
                &.color-alert{
                    font-size: 4.5rem;
                    color: #fbc02d;
                }       
            }
        }

        .modal-title{
            position: relative;
            max-width: 100%;
            padding: .8em 1em 0;
            color: inherit;
            font-size: 1.875em;
            font-weight: 600;
            text-align: center;
            text-transform: none;
            word-wrap: break-word;
        }

        .modal-p{
            z-index: 1;
            justify-content: center;
            margin: 1em 1.6em .3em;
            padding: 0;
            overflow: auto;
            color: inherit;
            font-size: 1.125em;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            word-wrap: break-word;
            word-break: break-word;
        }

        .modal-actions{
            display: flex;
            z-index: 1;
            box-sizing: border-box;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: auto;
            margin: 1.25em auto 0;
            padding: 0;

            .btn{
                padding: 10px 20px;
                margin: 2px;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 5px;
                border: 0;

                &:hover{
                    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
                }
            }

            .btn-cerrar{
                background-color: var(--color-qiut-rosa);
                color: #fff;
                font-size: 1em;
                cursor: pointer;
            }
        }
    }
}

// General
li {
    list-style: none;
}

.btn-cerrar{
    background: var(--color-grenn-azul);
    text-transform: uppercase;
    border: 1px solid transparent;
    color: #FFF;

    &:hover{
        background: transparent;
        color: var(--color-grenn-azul) !important;
        border-color: var(--color-grenn-azul) !important;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------MEdia model min ------------------------------------ */
/* ------------------------------------------------------------------------------ */

@media (min-width: 576px){

    .container{
        max-width: 540px;
    }
    
}

@media (min-width: 768px){

    .container{
        max-width: 720px;
    }

}

@media (min-width: 992px) {

    .container{
        max-width: 960px;
    }

}

@media (min-width: 1200px) {

    .container{
        max-width: 1140px;
    }

}

@media (min-width: 1400px) {

    .container{
        max-width: 1320px;
    }

}